# Install libraries
numpy == 1.22.4
matplotlib == 3.7.1
seaborn == 0.12.2
pandas == 1.4.4
datasets == 2.10.1
transformers == 4.27.1
tokenizer == 3.4.2
torch == 1.13.1+cu116
progressbar == 3.38.0
tqdm == 4.65.0